#container {
    width: 400px;
    height: 120px;
    margin: 10px auto;
}
.box1{
    width:100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px gray;
    color: white;
    font-family: verdana;
    box-sizing: border-box;
    padding: 35px;
    position: relative;
    float: left;
    margin: 10px 15px;
    background-image: linear-gradient(to right, red, green);
    }

.box2{
    width:100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px gray;
    color: white;
    font-family: verdana;
    box-sizing: border-box;
    padding: 35px;
    position: relative;
    float: left;
    margin: 10px 15px;
    background-image: radial-gradient(circle,red, yellow, green);
    background-position: bottom;
    background-size: 100px 200px;
        }

.box3{
    width:100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px gray;
    color: white;
    font-family: verdana;
    box-sizing: border-box;
    padding: 35px;
    position: relative;
    float: left;
    margin:10px 15px;
    background-image: radial-gradient( red, yellow, green);
    background-position: bottom;
    background-size:100px 200px;*/
    }