.box {
    width:100px;
    height: 100px;
    background-color: green;
    border-radius: 0px;
    color: white;
    font-family: verdana;
    position: relative;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 35px;
    transition-property: background-color, border-radius;
    transition-duration: 1s, 1s;
    transition-delay: 1s, 1s;
}

/*.box:hover {
    background-color: orange;
    border-radius: 25px;
}
*/

.box:hover {
    animation-name: shape;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes shape {
    from {
        background-color: green;
        border-radius:0px;
    }
    30% {
        background-color: orange;
        border-radius:50px;
    }
    70% {
        background-color: orange;
        border-radius:100px;
    }
    to {
        border-radius: 150px;
        background-color: orange;
    }
}

