#disp{
		width: 500px;
		height: 200px;
		display: inline;
		font-size: 20px;
	}
	#t1,#t2{
		width: 300px;
		position: relative;
		float: left;
	}
	table,th,tr,td{
		text-align: center;
		border: 1px solid black;
		border-collapse: collapse;
	}