.container {
        width: 340px;
        height: 800px;
        position: relative;
        margin: 100px auto;
        text-align: center;
    }
#ageSlider{
   width: 360px;
    height: 30px;
}

input:required {
    border: 1px solid deeppink;
    height: 39px;
    width: 270px;
    font-size: 14pt;
}

button {
    height: 50px;
    width: 120px;
}